# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://diawzahtftuxoqycktiv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_BNkdZ0q07ZgpMZZO9X5t0w_e8g7tBzJ
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Edge Functions
# SUPABASE_FUNCTIONS_URL=https://diawzahtftuxoqycktiv.supabase.co/functions/v1

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
